#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.box.movie {
  max-height: 24rem;
  display: flex;
}

.movie .img {
  height: 100%;
  display: inline-block;
  
}

.movie .img img{
  height: 100%;
  width: 9rem;
}

.movie .content {
  display:inline-block;
  flex: 1;
  height:100%;
  padding-left: 2rem;
  width: 32rem;
  text-align:left;
}

.content ul {
  margin: 0 !important;
}

.movie .tag {
  margin-left: 1rem;
  margin-top: -6px;
  vertical-align: middle;
}